<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript">
        console.log("Hello World!!!");

        function dragOverHandler(ev) {
          console.log("File(s) in drop zone");

          // Prevent default behavior (Prevent file from being opened)
          ev.preventDefault();
        }

        function dropHandler(ev) {
            console.log("File(s) dropped");

            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();

            if (ev.dataTransfer.items) {
            // Use DataTransferItemList interface to access the file(s)
            [...ev.dataTransfer.items].forEach((item, i) => {
              // If dropped items aren't files, reject them
              if (item.kind === "file") {
                const file = item.getAsFile();
                console.log(`… file[${i}].name = ${file.name}`);
              }
            });
            } else {
            // Use DataTransfer interface to access the file(s)
            [...ev.dataTransfer.files].forEach((file, i) => {
              console.log(`… file[${i}].name = ${file.name}`);
            });
            }
        }
    </script>
    <head>
        <meta charset="utf-8">
            <title>
                Drop Server
            </title>
            <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        </meta>
        <link rel="stylesheet" th:href="@{~/static/style.css}">
    </head>
    <body>
        <div class="dropzone" id="drop_zone"
             ondrop="dropHandler(event);"
             ondragover="dragOverHandler(event);">
            <p>
                Drop here
            </p>
        </div>
        <form action="/upload" enctype="multipart/form-data" method="POST">
            <input id="file" name="file" type="file"/>
            <br/>
            <!--            <input type="text" value="/tmp" name="destination"/><br/>-->
            <!--            <input type="submit" value="Upload" name="upload" id="upload" />-->
            <input type="submit" value="Upload"/>
        </form>

        <h1>Files</h1>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="file: ${files}">
                    <td style="width: 80%" th:text="${file.name}"></td>
                    <td style="width: 10%" th:text="${file.humanReadableSize()}"></td>
                    <td style="width: 10%" th:text="${file.humanReadableLastModifiedTime()}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
